/* Estilos globales */
body {
  margin: 0;
  padding: 0;
  font-family: system-ui;
  background-color: #121212; /* Fondo oscuro como Spotify */
  color: white; /* Texto blanco */
}

h1, h2 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit; /* Enlace mantiene el color del texto */
}

/* Estilos para el diseño de Grid */
.container {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Header, main content, footer */
  grid-template-columns: 200px 1fr; /* Aside, main content */
  height: 100vh; /* Altura completa de la pantalla */
}

nav {
  grid-column: 1 / 3; /* Ocupa ambas columnas */
  background-color: #1e266d; 
  padding: 10px;
}

aside {
  grid-row: 2 / 3; /* Segunda fila */
  grid-column: 1 / 2; /* Primera columna */
  background-color: #502b2b; /* Fondo oscuro */
  padding: 20px;
}

main {
  grid-row: 2 / 3; /* Segunda fila */
  grid-column: 2 / 3; /* Segunda columna */
  background-color: #44775b; /* Color de fondo diferente */
  padding: 20px;
}

footer {
  grid-column: 1 / 3; /* Ocupa ambas columnas */
  background-color: #282828; /* Fondo oscuro */
  text-align: center;
  padding: 10px;
}

/* Estilos para los componentes */
ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px 0; /* Espaciado entre elementos */
}
